---
import Link from "./link.astro";
import DeleteProjectBtn from "./delete-project-btn";

interface Props {
  title: string;
  description: string | undefined;
  id?: number;
}

const { title, description, id } = Astro.props;
---

<div class="rounded w-60 h-52 flex flex-col bg-sky-50">
  <h1
    class="rounded-t w-full bg-sky-800 text-white font-bold flex items-center px-2 py-1 flex-row justify-between"
  >
    <p>{title}</p>
    <aside id="deleteBtn" class="text-black font-normal">
      <DeleteProjectBtn client:only id={id} title={title} />
    </aside>
  </h1>
  <div class="flex flex-col justify-between h-full">
    {
      description ? (
        <p class="text-gray-600 px-2 py-1">
          {description.length > 80
            ? `${description.substring(0, 80)}...`
            : description}
        </p>
      ) : (
        ""
      )
    }

    <Link content="Show more" href={`/project/${title}`} />
  </div>
</div>
