---
import Layout from "../../layouts/layout.astro";
import Toast from "../../components/toast";
import Board from "../../components/board";
import { getProjectByTitle } from "../../services/projects.service";
import { groupBy } from "../../services/collections.service";
import { setToastMessage } from "../../store/toast.store";

export const prerender = false;

const { title } = Astro.params;

if (title == undefined) {
  Astro.redirect("/");
}

const project = await getProjectByTitle({ title: title! });
if (typeof project == "string") {
  setToastMessage({ message: project });
}
const boards_per_status = groupBy({ arr: project.tasks, criteria: "status" });
---

<Layout title={title!}>
  {
    typeof project === "string" ? (
      <Toast />
    ) : (
      <main class="justify-center items-center w-full flex">
      <Board boards={boards_per_status} projectId={project.id} client:only />
      </main>
    )
  }
</Layout>
