---
import Layout from "../layouts/layout.astro";
---

<Layout title="Treyo">
  <section class="flex justify-center flex-col">
    <aside
      class="flex justify-center flex-col sm:flex-col md:flex-col lg:flex-row h-[40rem] gap-4 items-center w-full px-5"
    >
      <h1 class="text-4xl text-pretty tracking-wide min-w-[22rem] max-w-[26rem]">
        <span class="text-cyan-700"> Treyo </span>
        is ispired in
        <span class="text-sky-400"> Trello, </span>
        but lightweight. Manage your tasks easily.
      </h1>
      <img
        class="object-cover sm:w-[30rem] md:w-[40rem] xl:w-[4arem]"
        src="/public/treyo_img.webp"
        alt="treyo img"
      />
    </aside>
  </section>
</Layout>
