---
import Layout from "../layouts/layout.astro";
import ProjectForm from "../components/project-form";
import Projects from "../components/projects";

export const prerender = false;
---

<Layout title="Treyo">
  <ProjectForm client:only />
  <main class="flex w-full justify-center items-center">
    <div
      class:list={["flex gap-4 flex-wrap justify-start items-center w-[67rem]"]}
    >
      <Projects client:only />
    </div>
  </main>
</Layout>
