---
interface Props {
  title: string;
}

const { title } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title || "Astro"}</title>
	</head>
	<body>
    <nav class="h-12 w-full bg-cyan-700 px-3 flex items-center">
      <h1 class="text-white font-bold">Treyo</h1>
    </nav>
    <div class="my-3 mx-5">
      <slot />
    </div>
	</body>
</html>
