---
import Layout from "../layouts/layout.astro";
import Card from "../components/card.astro";

const projects = [
  {
    title: "lorem",
    description: "Lorem, ipsum dolor sit amet consectetur adipisicing elit.",
  },
  {
    title: "lorem",
    description: "Lorem, ipsum dolor sit amet consectetur adipisicing elit.",
  },
  {
    title: "lorem",
    description: "Lorem, ipsum dolor sit amet consectetur adipisicing elit.",
  },
  {
    title: "lorem",
    description: "Lorem, ipsum dolor sit amet consectetur adipisicing elit.",
  },
];
---

<Layout title="Treyo">
  <div class="flex gap-4 flex-wrap">
    {
      projects.map(({ title, description }) => (
        <Card title={title} description={description} />
      ))
    }
  </div>
</Layout>
